@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    font-family: "Jost";
    @apply bg-slate-100;
  }

  h1 {
    letter-spacing: -0.33px;
  }
  h2 {
    letter-spacing: -0.25px;
  }
  h3 {
    letter-spacing: -0.25px;
  }
  h4 {
    letter-spacing: -0.2px;
  }
}

@layer components {
  .ham-bar {
    @apply w-5 h-[3px] bg-white duration-150;
  }
}
:root {
  --radial-gradient-steps: ellipse at right top, rgba(232, 77, 112, 1) 0%,
    rgba(163, 55, 246, 1) 60%, rgba(40, 167, 237, 1) 100%;
}
