@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Jost", sans-serif, Helvetica, Arial, sans-serif;
    @apply h-full bg-slate-100  font-normal antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    letter-spacing: -0.33px;
  }
  h2 {
    letter-spacing: -0.25px;
    @apply text-[20px] md:text-[24px];
  }
  h3 {
    letter-spacing: -0.25px;
  }
  h4 {
    letter-spacing: -0.2px;
  }

  [type="text"],
  [type="email"],
  [type="password"],
  [type="number"],
  textarea,
  select {
    @apply border-none outline-none focus:ring-1 focus-visible:ring-1 focus:ring-blue-500;
  }

  button,
  a {
    @apply cursor-pointer hover:opacity-80;
  }
}

@layer components {
  .ham-bar {
    @apply w-5 h-[3px] bg-white duration-150;
  }

  .auth-link {
    @apply py-5 w-1/2 text-[15px] text-center text-blue-800;
  }

  .active-auth-link {
    @apply font-semibold;
  }

  .form {
    @apply flex flex-col gap-2 mt-5;
  }

  .form-group {
    @apply text-[14px] md:text-[16px];
  }

  .input-label {
    @apply block py-4 font-bold text-blue-800;
  }

  .input-text {
    @apply w-full rounded-md py-3 px-4 bg-blue-100 text-blue-900;
  }

  .form-submit {
    @apply block w-full mt-7 h-[50px] bg-purple-700 font-semibold text-white rounded-lg text-[14px];
  }

  .form-label {
    @apply flex flex-col gap-[2px];
  }

  .form-input {
    @apply inline-block px-4 py-[10px] mt-[14px] w-full text-blue-900 text-[13px] bg-blue-100 rounded-[4px];
  }

  .dropdown-toggle {
    @apply relative z-[1000] form-input h-[44px] flex justify-between items-center text-left md:px-6 md:h-[50px] md:text-[14px];
  }
  .dropdown-select-focus {
    @apply border-none outline-none focus:ring-1 focus-visible:ring-1 focus:ring-blue-500 md:text-[15px];
  }

  .error-input {
    @apply ring-1 ring-red-700 focus:ring-red-700;
  }

  .error-p {
    @apply absolute mt-1 flex items-center text-red-700 text-[13px];
  }

  .btn {
    @apply grid place-items-center px-8 h-[44px] text-white font-bold text-[13px] rounded-[9px] md:h-[48px] md:text-[14px];
  }

  .feedback-tag {
    @apply px-4 py-[7px] md:px-4 md:py-2 w-max bg-blue-100 text-blue-500 text-[13px] font-semibold rounded-[9px] capitalize;
  }
  .feedback-tag.selected {
    @apply text-blue-100 bg-blue-500;
  }
}

:root {
  --radial-gradient-steps: ellipse at right top, rgba(232, 77, 112, 1) 0%,
    rgba(163, 55, 246, 1) 60%, rgba(40, 167, 237, 1) 100%;
}
